
<form action='/item' method='post'>
  <label for='ItemDescription'>Item Description: </label>
  <input id='ItemDescription' name='ItemDescription' type='text'>

  <button type='submit'>Add item</button>
</form>